<!DOCTYPE HTML>
<html>
<head>
 	<meta charset="UTF-8"/>
 	<title>Login</title>
</head>
<body>
<header>
	<pre>
  ___                   _       
 / _ \                 | |      
/ /_\ \ __ _  ___ _ __ | |_ ___ 
|  _  |/ _` |/ _ \ '_ \| __/ __|
| | | | (_| |  __/ | | | |_\__ \
\_| |_/\__, |\___|_| |_|\__|___/
        __/ |                   
       |___/                    
	</pre>
</header>
<h1>Login</h1>
<form method="POST" action="login" >
	<table>
		<tr>
			<td><label for="userid"><strong>Usuario:</strong> </label></td>
			<td><input type="text" id="userid" name="userid"/></td>
		</tr>
		<tr>
			<td><label for="password"><strong>Contraseña:</strong> </label></td>
			<td><input type="password" id="password" name="password" /></td>
		</tr>
		<tr>
			<td><label for="kind"><strong>Tipo:</strong> </label></td>
			<td><input type="text" id="kind" name="kind" /></td>
		</tr>
		<tr>
			<td><button type="submit" id="login">Entrar</button></td>
		</tr>
	</table>
</form>
</body>
</html>